{% extends 'base.html' %}

{% block content %}
<body class="min-h-screen bg-gray-900 overscroll-none overflow-x-hidden">
    
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Banner -->
    {% include 'partials/banner.html' %}
    
    <!-- Divider 1 -->
    <div class="" id="projects"></div>
    <div class="spacer rotate-180 flex" style="background-image: url('{{url_for('static', filename='layered-waves-haikei.svg')}}');"></div>

    <!-- Projects -->
    {% include 'partials/projects.html' %}

    <!-- Divider 2 -->
    <div class="spacer flex" style="background-image: url('{{url_for('static', filename='layered-waves-haikei.svg')}}');"></div>

    <!-- Form -->
    {% include 'partials/form.html' %}
</body>
{% endblock content %}


