@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
    aspect-ratio: 1000/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custom-shadow {
    box-shadow: inset 0 0 5px #000000;
}